<% if pool.isOwner?(current_user) %>
  <li class="dropdown">
    <a class="dropdown-toggle"
       data-toggle="dropdown"
      href="#" >
      Manage Week
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Create new week", new_pool_week_path(pool) %></li>
      <% if !current_week.nil? %>
        <li><%= link_to "Edit week #{current_week.week_number}", edit_week_path(current_week) %></li>
        <% if false %>
        <li>
          <%= link_to "Delete week", current_week, :method => :delete, 
                    :confirm => "Are you sure?", 
                    :title => "Delete week #{current_week.week_number}" %>
        </li>
        <% end %>
        <li class="divider"></li>
        <% if current_week.checkStatePend || current_week.checkStateClosed %>
          <li><%= link_to "Mark week #{current_week.week_number} open", open_path(current_week) %></li>
        <% end %> 
        <% if current_week.checkStateOpen %>
          <li><%= link_to "Mark week  #{current_week.week_number} closed", closed_path(current_week) %></li>
        <% end %>
        <% if current_week.checkStateClosed %>
          <li><%= link_to "Mark week #{current_week.week_number} final", final_path(current_week) %></li>
        <% end %>
      <% end %>
    </ul>
  </li>
<% end %>

