<% provide(:title, @pool.name) %>
<div class = "row">
  <%= render 'mgmt_menu', pool: @pool, current_week: @current_week %>
</div>
<div class="row">
  <aside class="span9">
    <section>
      <h1> <%= @pool.name %> </h1>
      <strong>Pool Type</strong> 
      <%= render 'show_type', pool: @pool %><br />
      <strong>Status</strong> 
      <% if @pool.isPublic %>
        Public<br />
      <% else %>
        Private<br />
      <% end %>
      <% if !@current_week.nil? %>
        <strong>Current Week</strong>
        <%= @current_week.weekNumber %><br />
        &nbsp;&nbsp;&nbsp;&nbsp;<strong>State</strong>
        <%= render 'show_week_state', current_week: @current_week %>
      <% end %>
    </section>
    <section>
      <% if @pool.poolType == Pool::POOL_TYPES[:Survivor] %>
        <h1>Current Board</h1>
        <% if !@current_week.nil? %>
          <%= render 'show_board', pool: @pool, current_week: @current_week %>
        <% end %>
      <% elsif @pool.poolType == Pool::POOL_TYPES[:SUP] %>
        <p>Sorry but SUP based pools are not supported at this time.</p>
      <% elsif @pool.poolType == Pool::POOL_TYPES[:PickEm] %>
        <p>Sorry but PickEm based pools are not supported at this time.</p>
      <% elsif @pool.poolType == Pool::POOL_TYPES[:PickEmSpread] %>
        <p>Sorry but PickEmSpread based pools are not supported at this time.</p>
      <% end %>
    </section>
  </aside>
  <div class="span3">
    <h3>Weeks</h3>
    <% if @pool.isOwner?(current_user) %>
    <% end %>
    <% @pool.weeks.order(:weekNumber).each do |week| %>
      <% if week == @current_week %>
        <%= link_to "Week #{week.weekNumber}", week_path(week), { class: "current-week" } %>
      <% else %>
        <%= link_to "Week #{week.weekNumber}", week_path(week) %>
      <% end %>
      <% if week.weekNumber % 3 == 0 %>
        <br />
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Members</h3>
    <%= will_paginate %>

    <% for user in @pool.users %>
      <ul class="pools">
        <%= render 'pool_member', user: user, pool: @pool %>
      </ul>
    <% end %>

    <%= will_paginate %>
  </div>
</div>




