<table class="profile" summary="Pool information">
  <tr>
    <td class="main">
      <h1>
        <%= @pool.name %>
      </h1>
    </td>
    <td class="sidebar round">
      <strong>Name</strong> <%= @pool.name %><br />
      <strong>Pool Type</strong> 
      <%= render 'show_type', :pool => @pool %><br />
      <strong>Status</strong> 
      <% if @pool.isPublic %>
        Public<br />
      <% else %>
        Private<br />
      <% end %>
      <br />
      <% if !@pool.isMember?(current_user) %>
      <div class="JoinPool">
        <%= link_to "Join Pool", join_path(@pool.id), id: @pool.id %>
      </div>
      <% elsif !@pool.isOwner?(current_user) %>
        <%= link_to "Leave Pool", leave_path(@pool.id), id: @pool.id %>
      <% end %>
      <% if @pool.isOwner?(current_user) %>
        <%= link_to "Edit pool", edit_pool_path(@pool) %><br />
        <%= link_to "Delete pool", @pool, :method => :delete, 
                :confirm => "Are you sure?", :title => "Delete#{@pool.name}" %>
      <% end %>
    </td>
  </tr>
</table>

<h3>Members</h3>

<%= will_paginate %>

<% for user in @pool.users %>
  <ul class="pools">
    <%= render 'pool_member', :user => user, :pool => @pool %>
  </ul>
<% end %>

<%= will_paginate %>


