<% provide(:title, @pool.name) %>
<div class = "row">
  <%= render 'mgmt_menu', pool: @pool, week: @week %>
</div>
<div class="row">
  <aside class="span8">
    <section>
      <h1> <%= @pool.name %> </h1>
      <strong>Pool Type</strong> 
      <%= render 'show_type', pool: @pool %><br />
      <strong>Status</strong> 
      <% if @pool.isPublic %>
        Public<br />
      <% else %>
        Private<br />
      <% end %>
      <% if !@week.nil? %>
        <strong>State</strong>
        <%= render 'show_week_state', week: @week %>
      <% end %>
    </section>

    <section>
      <% if @pool.poolType == Pool::POOL_TYPES[:Survivor] %>
        <h1>Current Board</h1>
        <% if !@week.nil? %>
          <%= render 'show_board', pool: @pool, week: @week %>
        <% end %>
      <% end %>
    </section>
  </aside>
  <div class="span4">
    <h3>Weeks</h3>
    <% if @pool.isOwner?(current_user) %>
    <% end %>
    <% week_number = 1 %>
    <% @pool.weeks.each do |week| %>
      <%= link_to "Week #{week.weekNumber}", week_path(week) %>
      <% if week.weekNumber % 3 == 0 %>
        <br />
      <% end %>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span6">
    <h3>Members</h3>
    <%= will_paginate %>

    <% for user in @pool.users %>
      <ul class="pools">
        <%= render 'pool_member', user: user, pool: @pool %>
      </ul>
    <% end %>

    <%= will_paginate %>
  </div>
</div>




