<% provide(:title, "Edit Week #{@week.week_number}") %>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="panel panel-primary">
	<% if @week.checkStatePend %>
	  <div class="panel-heading">Edit Game Information </div>
	    <div class="panel-body">
	      <h1>Edit Week <%= @week.week_number %></h1>
	      <%= simple_form_for(@week, html: { class: 'form-inline' }) do |f| %>
		<%= f.error_notification %>
		<%= f.simple_fields_for :games do |g| %>
		  <%= render 'game_fields', f: g %>
		<% end %>
		<%= link_to_add_association 'Add New Game', f, :games %><br /><br />
		<%= f.button :submit, label: "Edit week", class: 'btn btn-large btn-primary' %>
	      <% end %>
	    </div>
	  </div>
	<% elsif @week.checkStateClosed %>
	  <div class="panel-heading">Enter Game Scores </div>
	    <div class="panel-body">
	      <h1>Submit Scores Week <%= @week.week_number %></h1>
	      <%= simple_form_for(@week, html: { class: 'form-horizontal form-inline' }) do |f| %>
		<% @teams = Team.all.where(nfl: true) %>
		<%= f.simple_fields_for :games do |builder| %>
		  <%= render 'game_score_fields', f: builder, teams: @teams %>
		<% end %>
		<%= f.button :submit, label: "Submit scores", class: 'btn btn-large btn-primary' %>
	      <% end %>
	    </div>
	  </div>
	<% end %>
      </div>
    </div>
  </div>

