<% provide(:title, "Create Week #{@week.week_number}") %>
<h1>Create Week <%= @week.week_number %></h1>
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-primary">
      <div class="panel-heading">Enter Game Information </div>
        <div class="panel-body">
	  <%= simple_form_for([@season, @week], html: { class: 'form-inline' }) do |f| %>
	    <%= f.error_notification %>
	    <%= f.simple_fields_for :games do |g| %>
	      <%= render 'game_fields', f: g %>
	    <% end %>
	    <%= link_to_add_association 'Add New Game', f, :games, { tabindex: 70 } %>
	    <br /><br />
	    <%= f.button :submit, label: "Create week", class: 'btn btn-large btn-primary' %>
	  <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
