<% provide(:title, "Week #{@week.weekNumber} Games") %>
<div class="row">
  <aside class="span8">
    <section>
      <h1> Week <%= @week.weekNumber %> Games</h1>
      <%= link_to "Pool Page", @pool %>
      <% if @pool.isOwner?(current_user) %>
        <%= link_to "Edit week", edit_week_path(@week) %>
        <%= link_to "Delete week", @week, :method => :delete, 
                    :confirm => "Are you sure?", 
                    :title => "Delete week #{@week.weekNumber}" %>
      <% end %>
    </section>

    <section>
        <% if @week.checkStateClosed || @week.checkStateFinal %>
          <% showScores = true %>
        <% else %>
          <% showScores = false %>
        <% end  %>
        <%= render 'shared/games', week: @week, games: @games, nflTeams: true, showScores: showScores %>
    </section>
  </aside>
  <div class="span4">
  </div>
</div>
