<table class = "table table-condensed">
  <tbody>
    <% games.order('created_at').each do |game| %>
      <tr>
          <% team = Team.find(game.awayTeamIndex) %>
          <% awayTeamWon = game.wonGame?(game.awayTeamIndex) %>
          <% if awayTeamWon && !(game.awayTeamScore == 0 && game.homeTeamScore == 0) %>
            <td class="awayTeamWon">
              <b><%= team.name %></b>
              <%= image_tag(team.imagePath, size: "40") %>
            </td>
            <% if showScores %>
              <td class="awayScoreWon"><b><%= game.awayTeamScore %></b></td>
            <% end %>
          <% else %>
            <td class="awayTeamLost">
              <%= team.name %>
              <%= image_tag(asset_path(team.imagePath), size: "40") %>
            </td>
            <% if showScores %>
              <td class="awayScoreLost"><%= game.awayTeamScore %></td>
            <% end %>
          <% end %>
        <% if !showScores %>
          <td class="gameDescriptor"><small>AT</small></td>
        <% end %>
          <% team = Team.find(game.homeTeamIndex) %>
          <% homeTeamWon = game.wonGame?(game.homeTeamIndex) %>
          <% if homeTeamWon && !(game.awayTeamScore == 0 && game.homeTeamScore == 0) %>
            <% if showScores %>
              <td class="homeScoreWon"><b><%= game.homeTeamScore %></b></td>
            <% end %>
            <td class="homeTeamWon">
              <%= image_tag(asset_path(team.imagePath), size: "40") %>
              <b><%= team.name %></b>
            </td>
          <% else %>
            <% if showScores %>
              <td class="homeScoreLost"><%= game.homeTeamScore %></td>
            <% end %>
            <td class="homeTeamLost">
              <%= image_tag(team.imagePath, size: "40") %>
              <%= team.name %>
            </td>
          <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
