<% teams = Team.all.where(nfl: nflTeams) %>
<table class = "table table-condensed">
  <tbody>
    <% games.each do |game| %>
      <tr>
        <% team = teams[game.awayTeamIndex-1] %>
        <td>
        <%= image_tag(team.imagePath, size: "40") %>
        <% awayTeamWon = game.wonGame?(game.awayTeamIndex) %>
        <% if showScores %>
          <% if awayTeamWon && !(game.awayTeamScore == 0 && game.homeTeamScore == 0) %>
            <strong><%= team.name %></strong>
          <% else %>
            <%= team.name %>
          <% end %>
          <% spaceCount = 0 %>
          <% while(spaceCount < (23 - team.name.length)) %>
            &nbsp;
            <% spaceCount += 1 %>
          <% end %>
          <%= game.awayTeamScore %>
        <% else %>
            <%= team.name %>
        <% end %>
        </td>
        <td>AT</td>
        <% team = teams[game.homeTeamIndex-1] %>
        <td>
        <%= image_tag(team.imagePath, size: "40") %>
        <% if showScores %>
          <% if !awayTeamWon && !(game.awayTeamScore == 0 && game.homeTeamScore == 0) %>
            <strong><%= team.name %></strong>
          <% else %>
            <%= team.name %>
          <% end %>
          <% spaceCount = 0 %>
          <% while(spaceCount < (23 - team.name.length)) %>
            &nbsp;
            <% spaceCount += 1 %>
          <% end %>
          <%= game.homeTeamScore %>
        <% else %>
          <%= team.name %>
        <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
