<% provide(:title, "Make picks") %>
<%= raw "<h1>Make picks for Week #{@week.weekNumber}</h1>" %>
<div class="row">
  <div class="span6 offset2">
      <% @teams = NflTeam.all %>
      <% (@week.games).each do |game| %>
        <%= render 'shared/games', teams: @teams, game: game %>
      <% end %>
    <%= form_for([@week, @pick], html: { class: 'form-inline' }) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      <%= f.fields_for :game_picks do |builder| %>
        <fieldset>
          <% @select_teams = @week.buildSelectTeams %>
          <%= builder.label :homeTeamIndex, "Pick Team" %>
          <%= builder.collection_select(:chosenTeamIndex,
                                  @select_teams, :id, :name,
                                  class: 'select') %>
        </fieldset>
      <% end %>
      <div class="control-group">
        <div class = "controls">
          <%= f.submit "Make Picks", class: "btn btn-large btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

