<% provide(:title, "Make picks") %>
<div class="row">
  <h1>Make picks for Week <%=@week.weekNumber%></h1>
  <div class="span6 offset3">
      <% @teams = Team.all.where(nfl: true) %>
      <%= render 'shared/games', week: @week, games: @week.games %>
    <br />
    <%= simple_form_for([@entry, @pick], html: { class: 'form-inline' }) do |f| %>
      <%= f.error_notification %>
      <%= f.simple_fields_for :game_picks do |gp| %>
        <fieldset>
        <% @select_teams = @week.buildSelectTeams %>
        <%= gp.input :chosenTeamIndex, label: "Pick Team:",
                      collection: @select_teams, value_method: :id,
                      label_method: :name,
                      input_html: { id: "pick", class: 'span3' } %>
        </fieldset>
      <% end %>
      <br />
      <%= f.button :submit, label: "Submit Pick(s)", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

